<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

      
      <typeAliases>
            <typeAlias alias="boardVo" type="com.or.petspital.qna.Vo.BoardVo"></typeAlias>
             <typeAlias alias="commentVo" type="com.or.petspital.qna.Vo.CommentVo"></typeAlias>
             <typeAlias alias="reserveVO" type="com.or.petspital.reserve.vo.Reservation"></typeAlias>
<typeAlias alias="memberVO"
			type="com.or.petspital.member.vo.MemberVO"></typeAlias>
      
      </typeAliases>
 
 	
 	
</configuration>


